.banner5 {
  margin-bottom: 20px;
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner5-center {
    width: 65%;
    height: inherit;
    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
}
