.shopping2 {
  margin-top: 50px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .shopping2-center {
    width: 65%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    .shopping2-center-item {
      column-gap: 20px;
      width: 100%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      a {
        width: 99%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: inherit;
          height: inherit;
          border-radius: 15px;
        }
      }
    }
  }
}
